<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.${companyName}.${projectName}.dao.${Entity}Mapper">
	<resultMap id="${entity}Entity" type="com.${companyName}.${projectName}.entity.${Entity}Entity">
#foreach($element in $propertyList)
#if(${element.columnName} == 'id')
		<id column="${element.columnName}" property="${element.property}" />
	#else
	<result column="${element.columnName}" property="${element.property}" />
	#end
#end
</resultMap>
	<!-- common columns -->
	<sql id="main_columns">
#foreach($element in $propertyList)
#if(${velocityCount} !=(${propertyList.size()}))
	${element.columnName},
	#else
	${element.columnName}
	#end
#end
</sql>

	<!-- update parameters condition -->
	<sql id="update_condition">
		<set>
	  #foreach($element in $propertyList)
	<if test="${element.property} != null" >
				${element.columnName} = #{${element.property}},
		    </if>
		#end
</set>
	</sql>

	<!-- query parameters condition -->
	<sql id="query_condition">
		<where>
			<if test="name != null and name !=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
			<if test="startTime != null">
				AND upload_time &gt;= FROM_UNIXTIME(#{startTime}/1000,'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="endTime != null">
				AND upload_time &lt;= FROM_UNIXTIME(#{endTime}/1000,'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
	</sql>

	<!-- add ${Entity}Entity -->
	<insert id="save" parameterType="${Entity}Entity">
		INSERT INTO ${TableName}
		(
		<include refid="main_columns" />
		)
		VALUES(
#foreach($element in $propertyList)
#if(${velocityCount} !=(${propertyList.size()}))
		#{${element.property}},
	#else
		#{${element.property}}
	#end
#end
	)
	</insert>

	<!-- delete ${Entity}Entity -->
	<delete id="delete" parameterType="long">
		DELETE FROM
		${TableName}
		WHERE id=#{id}
	</delete>

	<!-- update ${Entity}Entity -->
	<update id="update" parameterType="${Entity}Entity">
		UPDATE ${TableName}
		<include refid="update_condition"/>
		WHERE id = #{id}
	</update>

	<!-- query ${Entity}Entity by id -->
	<select id="findById" parameterType="long" resultMap="${entity}Entity">
		SELECT
		<include refid="main_columns" />
		FROM ${TableName}
		WHERE id = #{id}
	</select>

	<!-- query count ${Entity}Entity By ${Entity}Query -->
	<select id="countByQuery" parameterType="com.${companyName}.${projectName}.query.${Entity}Query"
		resultType="_long">
		SELECT count(id)
		FROM ${TableName}
		<include refid="query_condition" />
	</select>

	<!-- query all ${Entity}Entity By ${Entity}Query -->
	<select id="findByQuery" parameterType="com.${companyName}.${projectName}.query.${Entity}Query"
		resultMap="${entity}Entity">
		SELECT
		<include refid="main_columns" />
		FROM ${TableName}
		<include refid="query_condition" />
		ORDER BY id DESC
		LIMIT #{startRow},#{pageSize}
	</select>
</mapper>